@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
}

#main {
  display: flex;
  flex-direction: column;
}

.user_img {
  max-width: 80px;
}

.user-icon {
  max-width: 30px;
}

#userbuttons {
  display: flex;
  margin-top: 0.5rem;
}

#contain {
  display: flex;
  flex-direction: column;
}

.post {
  list-style-type: none;
}

#postbuttons {
  display: flex;
}
