@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
}

.post-tag-link{
  text-decoration: none;
  color: white;
}
.post-tag-link:hover{
  color: yellow;
}

#main {
  display: flex;
  flex-direction: column;
}

.user_img {
  max-width: 80px;
}

.user-icon {
  max-width: 20px;
}

#userbuttons {
  display: flex;
  margin-top: 0.5rem;
}

#contain {
  display: flex;
  flex-direction: column;
}

.post {
  list-style-type: none;
}

#postbuttons {
  display: flex;
}

.error {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
}

.success {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 255, 0, 0.8);
  color: white;
}
