{% extends 'base.html' %} {%block title%}Edit Tag{% endblock %} {% block content %} <h1>Edit Tag</h1>
<form action="" method="POST">
<label for="name">Name</label>
<input type="text" name="name" id="name" required value="{{tag.name}}" size="50"><br>
<div>
{% for post in posts %}
        {% if post in tag.posts%}
        <input type="checkbox" id="{{post.id}}" name="{{post.id}}" value="{{post.id}}" checked>
        <label for="{{post.id}}">{{post.title}}</label><br>           
        {% else %}
        <input type="checkbox" id="{{post.id}}" name="{{post.id}}" value="{{post.id}}">
        <label for="{{post.id}}">{{post.title}}</label><br>
        {% endif %}
{% endfor %}
</div>
<a class="btn btn-outline-primary" href="../{{tag.id}}" role="button">Cancel</a>
<button id="addbtn" class="btn btn-success">Add</button>

</form>
{% endblock %}